#root {
  display: flex;
  flex-direction: column;
  font-family: 'Avant Garde';
  background-color: var(--lightUI);
}


.btn {
  background-color: transparent;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  font-size: inherit;
  cursor: pointer;
  transition: transform ease-in 0.2s;
}

.btn:hover {
  transform: scale(1.02);
}
